header > input {
	display: none;
}
header > img {
	display: none;
}
header ul {
	margin: 2vh 0vh 0vh;
}
header li {
	display: inline;
}

#settings {
	display: inline-flex;
	vertical-align: top;
	flex-direction: column;
	align-items: stretch;
	position: sticky;
	top: 1vmin;
	left: 1vmin;
	width: 6vw;
	max-width: 25vh;
	height: 95vh;
	flex: 0 0 auto;
	margin: 1vmin;
}
#settings-open {
	display: none;
}
#settings-open + img {
	display: none;
}

main {
	margin: 0 1vmin;
}